# Основные зависимости
pyTelegramBotAPI
python-dotenv

# База данных
SQLAlchemy==2.0.35

# Админ-панель
sqladmin==0.16.1
starlette
uvicorn

# HTTP запросы для API
requests

# Планировщик задач
APScheduler

# Дополнительные утилиты
python-dateutil
pytz
